<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<p><a href="<%= builder_index_admin_tags_path %>">Builder</a></p>
<p><a href="<%= admin_items_path %>">Items</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Show', [:admin, tag] %></td>
        <td><%= link_to 'Edit', edit_admin_tag_path(tag) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_admin_tag_path %>
