<div class="container">
  <h1 class="title"><a href="/">Today I Learned</a></h1>
  <div class="items">
    <% Item.all.each do |item| %>
      <div class="item">
        <h2 class="title">
          <a href="<%= item.output %>"><%= item.title %></a>
        </h2>
        <% if item.tags.any? %>
          <div class="tags">
            <% item.tags.each do |tag| %>
              <a href="/<%= tag.output %>" class="tag">
                <%= tag.name %>
              </a>
            <% end %>
          </div>
        <% end %>
        <div class="content">
          <%= markdown(item.content) %>
        </div>
        <div class="footer">
          <div class="created-at">
            <%= l item.updated_at, format: :date %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
